body {
    margin: 0;
    padding: 0;
    background-image: url('images/green.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chips-holder {
    width: 500px; 
    height: auto;
    margin-top: -3px;
}

 .card-box {
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(255, 238, 0);
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); */
}

button {
    margin: 10px;
}

.blackjacktext {
    width: 750px; 
    height: auto;
    margin-bottom: 20px;
    display: flex; 
    align-items: center;
    position: absolute;
    bottom: 390px;
    z-index: -1;
}

.button-container {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    right: -35%;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(255, 238, 0);
}

.card-container {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.card-container img {
    margin: 0 5px;
    width: 100px;
    height: 150px;
}

.player-score-container {
    position: absolute;
    top : 683px;
    display: flex;
    align-items: center; 
    color: white;
    font-size: 20px;
}

.dealer-score-container {
    position: absolute;
    top: 90px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}

.chip-Stack0 {
    position: absolute;
    top: 820px;
    left: 300px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    width: 80px; 
    height: 60px; 
}

.chip-Stack1 {
    position: absolute;
    top: 820px;
    left: 400px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    width: 80px; 
    height: 60px; 
}

.chip-Stack2 {
    position: absolute;
    top: 820px;
    left: 500px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    width: 80px; 
    height: 60px; 
}

.chip-Stack3 {
    position: absolute;
    top: 820px;
    left: 600px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    width: 80px; 
    height: 60px; 
}


.balance-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}

.bet-container {
    position: absolute;
    top: 80px;
    left: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}

#chip-value-0 {
    position: absolute;
    top: 835px;
    left: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

#chip-value-1 {
    position: absolute;
    top: 835px;
    left: 428px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

#chip-value-2 {
    position: absolute;
    top: 835px;
    left: 528px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

#chip-value-3 {
    position: absolute;
    top: 835px;
    left: 624px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.chip-value {
    user-select: none;
}